<app-logo></app-logo>
<div class="container h-100 align-items-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Oferta</th>
                <th>Detalles</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobOffer of this.jobOffers">
                <td>{{ jobOffer.titulo }}</td>
                <td><a (click)="this.gotoJobOfferDetail(jobOffer.id)" class="btn btn-info">Ver</a></td>
                <td><a (click)="this.delete(jobOffer.id)" class="btn btn-info">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center" style="margin: 15px 15px;">
        <a [routerLink]="['newjoboffer']" class="btn btn-primary">Nueva Oferta</a>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin: 15px 15px;">
        <a [routerLink]="['/home']" (click)="this.logout()" class="btn btn-secondary">Logout</a>
    </div>
</div>